<ion-header>

	<ion-navbar color="dark" class="header-navbar"></ion-navbar>

</ion-header>

<ion-content  class="apply">

  <ion-row class="title">
    <ion-col class="job-icon-detail" width-33 >
      <img [src]=job.fields.source[0].logo.url/>
    </ion-col>

    <ion-col class="job-header-detail" width-67>
      <h5>{{job.fields.title}}</h5>
      <p class="source">{{job.fields.source[0].shortname}}</p>
      <p *ngIf='job.fields.country'>{{(job.fields.country[0].shortname) ? job.fields.country[0].shortname : job.fields.country[0].name}}<span *ngIf="job.fields.city"> - {{job.fields.city[0].name}}</span></p>
      <p class="closing-date" [class.isclosedend]="closedend"> Closing date : <span class="date" ><span class="icon-rw-clock"></span> {{job.fields.date.closing | niceTime}}</span></p>
    </ion-col>
  </ion-row>

  <div padding class="apply" [innerHTML]='job.fields["how_to_apply-html"]'>lorem ipsum</div>

</ion-content>