.apply{
	font-family: SourceSansPro-Regular;

	.header-navbar{
	  height: 7rem;
	  text-align: center;
	}

	.title{
		background-color: color($colors, dark);
	 	width:100%;
		position:relative;
		min-height: 120px;
	 	top:0;
		left:0;
		color: color($colors, light);


		.job-icon-detail{
			img{
				height: 70px;
				width: 70px;
			}
		}

		.job-header-detail{
			h5 {
				font-size: 1.3rem;
				margin-top: 0;
				text-align : left;
			}

			p{
			    line-height: 1.4;
			    color: color($colors, light);
			    font-size: 1.2rem;
			    margin: 0 0 2px;
			    text-align: left;
			}
		}
	}

	.slide-zoom{
		width :100%;
		height:100%;
	}

	.swiper-pagination{
		display:none;
	}

	.description {
		text-align: left;
		font-size: 14px;
	}
	.swiper-button-prev {
		font-size: 5px;
		height: 30px;
		background-image: url("/images/icon-ios7-arrow-back.png");
	}
	.swiper-button-next {
		 font-size: 5px;
		 height: 30px;
		 background-image: url("/images/icon-ios7-arrow-next.png");
	}

	.button {
		font-family: 'SourceSansPro-Bold';
	    position: fixed;
	    bottom: 5px;
	    margin: 0;
    	margin-left: 1%;
	    height: 7%;
	    max-height: 45px;
	    z-index: 10;
	    width: 98%;
	    border-radius: 50px;
	    background-color: color($colors, dark-lighter);
	}

	.icon-rw-clock:before{
		font-size: 1.2rem;
		padding: 0 2px 2px 2px;
  	vertical-align: middle;
	}

}