<ion-item-sliding class="training-item-component">

        <ion-item ion-item detail-none>
          <ion-avatar tappable item-left (click)="goToJobDetails(index, training)">
            <img [src]=training.fields.logo.url/>
            <ion-badge color="danger" *ngIf='badgeNew'>NEW</ion-badge>
          </ion-avatar>
      
          <ion-label tappable (click)="goToJobDetails(index, training)">
            <h2 class="title"><b>{{training.fields.title}}</b></h2>
            <!-- <p class="source">{{training.fields.source[0].shortname}}</p>
            <p class="country" *ngIf='training.fields.country'>{{(training.fields.country[0].shortname) ? training.fields.country[0].shortname : training.fields.country[0].name}}</p> -->
          </ion-label>
      
          <!-- <ion-note item-right class="pull-right" >
            <span *ngIf!="favorite" class="icon-rw-favorite pull-right unfavorite-star" (click)='saveJob()'></span>
            <span *ngIf="favorite" color="warning" class="icon-rw-favorite pull-right favorite-star" (click)='deleteJob()'></span>
            <br>
            <p class="date pull-right" [class.isclosedend]="closedend"> <span><span class="icon-rw-clock"></span> <span>{{job.fields.date.closing | niceTime}}</span></span></p>
          </ion-note> -->
        </ion-item>
      
        <!-- <ion-item-options>
          <button ion-button color="dark-lighter" (click)="shareJob()">SHARE</button>
          <button ion-button *ngIf!="favorite" color="primary" (click)="saveJob()">SAVE<br> JOB</button>
          <button ion-button *ngIf="favorite" color="danger" (click)="deleteJob()">UNSAVE <br> JOB</button>
        </ion-item-options> -->
      
      </ion-item-sliding>
      