.job-item-component{
	//Sepcification
	background : color($colors, light);
	height: 75px;
	border-bottom : 1px solid color($colors, light-darkest);


	.title{
		font-size: 1.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		letter-spacing: 0em;
	}
	.source{
		font-size: 1.2rem;
	}
	.country{
		font-size: 1.2rem;
	}
	.date{
		clear: right;
		margin-top: 16px;
		font-size: 1.1rem;
	}

	ion-item-options{
		button{
			font-size: 1rem;
			width: 75px;
			&.button{
				height: 100%;
				margin: 0px;
			}
		}
		border-bottom-width: 0px;

	}
	ion-avatar{
		min-width: initial;
   	min-height: initial;
		img{
			max-width : 60px;
			max-height : 60px;
			height: 60px;
			width: 60px;
			border : 1px solid color($colors, light-darker);
			border-radius : 0px;
		}
		ion-badge {
      position: absolute;
      font-size: 1rem;
      margin-top: -6.5rem;
      margin-left: 3rem;
      display: block;
    }
	}

	.isclosedend {
		color : color($colors, danger);
		font-weight: 600;
	}

	.icon-rw-clock:before{
		font-size: 1.2rem;
		padding-right: 2px;
		padding-bottom: 2px;
  	vertical-align: middle;
	}

	.icon-rw-favorite {
		float: right;
	}

}
