<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Featured" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Explore" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Saved" tabIcon="star"></ion-tab>
</ion-tabs>
