//to have the best selector => add .md, .ios first
.md, .ios{
    page-search{
  
      //all the style goes here
      .search{
  
        .item-divider{
          background-color :map-get($colors, backcolor);
          color: #222;
          font-weight: 500;
          min-height: 30px;
          padding: 8px 0 8px 8px;
          border-bottom : 1px solid #c8c7cc;
        }
  
        ion-row{
          background-color: white;
          margin-top: 10px;
        }
        ion-col{
          padding: 0px;
        }
  
        ion-item{
          font-size: 1.3rem;
          padding-left: 5px;
          input{
            margin: 0px;
          }
  
          .item-inner{
            border-bottom: 0px;
          }
        }
  
        .icon-form{
          font-size :1.3em;
          vertical-align: middle;
          padding : 10px 10px 0 0 ;
          margin-bottom: 5px;
          text-align: right;
        }
  
        .country-item{
          padding-right :0 ;
        }
  
  
        .icon-option{
          vertical-align: sub;
            height: 15px;
            padding-right:2px;
            color: #f25e54;
        }
  
        .text-option{
          vertical-align: middle;
          margin-top: 40px;
          color: #f25e54;
          font-size: 1.3rem;
          letter-spacing: 0.01em;
        }
  
        h5{
          font-size: 1.2rem;
          padding: 0px 7px;
        }
        .submit-button{
          margin-top: 30px;
        }
        .all-jobs{
          margin-top: 30px;
          display: block;
          font-size: 1.2rem;
          text-align: center;
        }
  
  
  
  
        //ANIMATIONS CLASSES
        .mylocation{
              //animation: name duration timing-function delay iteration-count direction fill-mode play-state;
              animation: getlocation 0.5s ;
              -webkit-animation: getlocation 0.5s ;
              color : color($colors, primary);
              -webkit-transform: rotate(-45deg);
          }
  
          .searchlocation{
              animation: getlocation 1.5s;
              -webkit-animation: getlocation 1.5s;
              -webkit-transform: rotate(-45deg);
          }
  
        .more-options{
          animation: bounceInUp 0.75s ;
          -webkit-animation: bounceInUp 0.75s ;
        }
  
        .show-option{
          animation: fadeIn 0.75s ;
          -webkit-animation: fadeIn 0.75s ;
        }
  
  
        //Animations
        @keyframes getlocation {
          0%   {color: color($colors, dark); -webkit-transform: rotate(0deg);}
          100% {color: map-get($colors, primary); -webkit-transform: rotate(315deg);}
        }
  
  
        @keyframes fadeIn {
          from {
            opacity: 0;
          }
  
          to {
            opacity: 1;
          }
        }
  
        @keyframes bounceInUp {
          from, 60%, 75%, 90%, to {
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          }
          from {
            opacity: 0;
            transform: translate3d(0, 3000px, 0);
          }
          60% {
            opacity: 1;
            transform: translate3d(0, -20px, 0);
          }
          75% {
            transform: translate3d(0, 10px, 0);
          }
          90% {
            transform: translate3d(0, -5px, 0);
          }
          to {
            transform: translate3d(0, 0, 0);
          }
        }
  
  
      }
    }
  }
  