<ion-header>

    <ion-navbar color="dark" class="header-navbar">
      <ion-buttons right>
          <button ion-button icon-only end (click)="goToSearch()"><ion-icon name="search"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="result">

  <ion-refresher (ionRefresh)='refreshJobs($event)'>
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Refresh jobs"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      <b>{{totalCount}} Jobs</b>
      <div *ngIf="totalCount == 0">No results for this search</div>
      <b><span class="pull-right sort" *ngIf="totalCount != 0">
        Sort by :
        <span tappable (click)='sortBy("created")' [class.active]='filter==="created"'>Latest</span>
        |
        <span tappable (click)='sortBy("closing")' [class.active]='filter==="closing"'>Closing soon</span>
      </span></b>
    </ion-list-header>

    <training-item *ngFor='let result of results; let i = index' [job]=result [index]=i [jobs]=results [lastJobId]=search.lastJobId [fromItem]=fromItem></training-item>

  </ion-list>

    <ion-infinite-scroll (ionInfinite)='loadMoreJobs($event)'>
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more jobs...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>