<ion-header>

        <ion-navbar color="dark" class="header-navbar">
          <ion-buttons right>
              <button ion-button icon-only end (click)="goToSearch()"><ion-icon name="search"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
    
    </ion-header>
    
    <ion-content class="result">
    
      <ion-list>
    
        <training-item *ngFor='let result of results; let i = index' [training]=result [index]=i [trainings]=results></training-item>
    
      </ion-list>
    
    </ion-content>