<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button icon-only (click)='goToSearch()'>
<ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align="center">FEATURED</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-slides pager>
    <ion-slide>
      <h2>Training Name 1</h2>
      <p>
        Training description - This starter project comes with simple tabs-based layout for apps
        that are going to primarily use a Tabbed UI.
      </p>
      <button ion-button round>More Details</button>
    </ion-slide>
    <ion-slide>
      <h1>Training Name 2</h1>
      <p>
        Training description - This starter project comes with simple tabs-based layout for apps
        that are going to primarily use a Tabbed UI.
      </p>
      <button ion-button round>More Details</button>
    </ion-slide>
    <ion-slide>
      <h1>Training Name 3</h1>
      <p>
        Training description - This starter project comes with simple tabs-based layout for apps
        that are going to primarily use a Tabbed UI.
      </p>
    </ion-slide>
    <button ion-button round>More Details</button>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
          <!-- <icon src="resources/ios/icon/infrastructure_house_60px.png" width="60" height="60" /> -->
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px" (click)="goToSearch()">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Country
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Organization
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Free and Online Courses
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px" (click)="goToSearch()">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Country
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Organization
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Free and Online Courses
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px" (click)="goToSearch()">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Country
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Organization
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4>
        <ion-buttons start>
          <button ion-button icon-only full style="height:100px"> 
            <!-- <ion-icon name="contact"></ion-icon> -->
            Free and Online Courses
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>
