
<ion-header>
    <ion-navbar color="dark">
    
      <ion-title align="center"> Filter Categories</ion-title>
      
    </ion-navbar>
  </ion-header>

<ion-content class="result">
  <ion-list>
    <ion-item *ngFor='let result of results; let i = index' (click)="displayTraining(i, result)">
      <ion-label text-uppercase>
        {{result.value}}
      </ion-label>
      <div item-content>
        <h2 class="title">
          <b style="color:blue">{{result.count}}</b>
        </h2>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
