.result{
    ion-list-header{
        background-color: #F3F2FA;
        text-transform: none;
        height : 40px;
        padding : 0 15px;
        margin-bottom: 0px;
          border-bottom : 1px solid color($colors, light-darkest);
      }
    .pull-right{
      float:right;
      .active{
        color: color($colors, danger);
      }
    }
    .sort{
      margin-top:3px;
      font-size: 1.1rem;
    }
  }
  