.jobs_header {
  position: relative;
  width : 100%;
  height: $height-header;
  background-color: $jobs_black;
}

.jobs_header-title {
  position: absolute;
  top : 0;
  left: 0;
  width: 100%;
  padding-left : $height-header;
  padding-right: $height-header;
  color: $jobs_white;
  text-align : center;
  line-height: $height-header;
}

.jobs_header-button {
  position: absolute;
  top: 0;
  height: $height-header;
  width : 40px;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  ion-icon {
    width : 100%;
    height: 100%;
    color: $jobs_white;
    line-height: $height-header;
    font-size: 22px;
  }
}

.jobs_body {}

h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size     : 18px;
  font-weight   : 300;
}

h6 {
  margin: 0;
  padding: 0;
  color: $jobs_grey;
  font-size     : 13px;
}

p {
	margin: 0;
	padding: 0;
}

button {
  display: block;
	margin: 0;
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	&:active {
		color: inherit;
	}
	&:focus {
		outline: none;
	}
}

///////////////////////////////////////////////

.header-navbar{
  height: 7rem;
  text-align: center;
  .toolbar-content-md{
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

//style for swith toolbar
#rw-segment{
	min-height: 40px;
	padding : 0;
	font-size:14px;

	ion-segment {
	  top: initial;
	}

	.segment-button{
		max-width:initial;
		border: none;
		color:#fff;
			font-size:1.1rem;
	}

	.segment-button.segment-activated{
		background-color : map-get($colors,dark);
		color:#fff;
		font-weight: 600;

		.home-segment{
			border-bottom-style: solid;
			border-bottom-width: 3px;
			border-color: map-get($colors, danger);
			height: 100%;
			display : inline-block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


ion-content.search{
	background-color : map-get($colors, backcolor);
}
.button.active-slide{
	 background-color : map-get($colors,dark-lighter);
}

// ion-list-header{
// 	font-family : 'SourceSansPro-SemiBold';
// 	padding : 14px;
// 	background-color : #fff;
// 	color : #888;
// 	font-size : 14px;
// 	font-weight:600;
// 	text-transform : capitalize;
// }

.item-input.input-has-focus::after{
	border : none;
}

.item-input.ng-valid.input-has-value::after{
	border :none;
}

.text-capitalize {
	text-transform: capitalize;
}

.favorite-bar-button{
	height: 32px;
    box-shadow: none;
    margin:0;
    background-color : map-get($colors,dark);
    border-radius:50%;
    padding: 0;
    // min-width: .9em;

	font-size: 1.6rem;
    ion-icon{
    	padding: 0.1em;

	    // line-height: .67;
	    pointer-events: none;
    }
}

.button.activated{
	 background-color : map-get($colors,dark-lighter);
}

.favorite-bar-button::after {
    // position: absolute;
    // top: -7px;
    // right: -2px;
    // bottom: -6px;
    // left: -2px;
    content: "";
}

.favorite-bar-button.activated{
	 background-color : initial;
	 opacity: 0;
}


.favorite-star{
	animation: favorite-effect 1s ;
	-webkit-animation: favorite-effect 1s ;
}


@keyframes favorite-effect {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes removed-item-animation {
	  0% {
	    opacity: 1;
	    background-color: #fff;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0) ;
	    -o-transform: translateX(0) ;
	    transform: translateX(0) ;
	  }

	  100% {
	    opacity: 0.5;
	    background-color: #f25e54;
	    -webkit-transform: translateX(-800px) ;
	    -ms-transform: translateX(-800px) ;
	    -o-transform: translateX(-800px) ;
	    transform: translateX(-800px)  ;
	  }
}
