<ion-header></ion-header>

<ion-content class="has-header tutorial-page">

	<ion-slides pager>

    <ion-slide class="intro-red">
      <h2 class="slide-title">Search jobs <br>by title, country <br>or experience</h2>
      <p>You can also save the search and come back to it later</p>
      <img class="search-img" src="assets/images/search.png" />
      <button ion-button class="slide-button" (click)=skip() full round>
        GET STARTED
      </button>
    </ion-slide>

    <ion-slide class="intro-blue">
      <h2 class="slide-title">Never miss<br> an opportunity</h2>
      <p>You have an option to turn on job notifications. <br> The app will send you notifications when new positions are posted based on your search criteria.</p>
      <img class="alert-img" src="assets/images/alert.png" />
      <button ion-button class="slide-button" (click)=skip() round>
        GET STARTED
      </button>
    </ion-slide>

    <ion-slide class="intro-purple">
      <h2 class="slide-title">Save posts, <br>apply later</h2>
      <p>If you find positions you like, save the posts. <br> You can come back to the saved list and apply for jobs later. You can also email the saved list</p>
      <img class="save-img" src="assets/images/save.png" />
      <button ion-button round (click)=skip() class="slide-button">
        GET STARTED
      </button>
    </ion-slide>
		
	</ion-slides>

</ion-content>