.tutorial-page {

  text-align:center;

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Volkhov";
    font-size : 2.7rem;
    font-weight: bold;
    color: color($colors, light);
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "source-sans regular";
    color: rgba(255,255,255,0.5);

    b {
      color: black;
    }
  }

  .slide-button{
    margin-top: 5rem;
    bottom: 15px;

    //RW spec
    width: 95%;
    position: absolute;
    bottom: 45px;
    left: 2.5%;
    background-color : color($colors, light);
    color : color($colors, dark-lightest);
    font-weight: bold;
    font-size: 1.5rem
  }

  .swiper-pagination{
  position: absolute;
  bottom: 16%;
  }

.swiper-pagination-bullet{
  background-color: color($colors, light-pure);
}

  .intro-red{
    background-color :color($colors, danger);
  }

  .intro-blue{
    background-color:color($colors, primary);
  }

  .intro-purple{
    background-color:color($colors, secondary);
  }

  .search-img{
    max-height: 159px;
    max-width: 189px;


    top: 45%;
    margin-left: -5%;
  }

  .alert-img, .save-img{
    max-height: 151px;
    max-width: 153px;

    top: 45%;
    margin-left: auto;
    margin-right: auto;
  }
}