<ion-header>
    <ion-navbar color="dark" class="header-navbar">

      <ion-title></ion-title>

      <ion-buttons right class="detail-end-button">
        <!-- <button ion-button class="pull-right" (click)='favorite ? deleteJob() : saveJob()'>
          <span *ngIf!='favorite' class='icon-rw-favorite pull-right unfavorite-star'></span>
          <span *ngIf="favorite" color="warning" class="icon-rw-favorite pull-right favorite-star"></span>
        </button> -->
        <button ion-button (click)="shareJob()">
            <ion-icon ios="ios-share-outline" md="md-share" class="icon-share"></ion-icon>
        </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h2 class="title"><b>{{results.fields.source[0].type.name}}</b></h2>
    </ion-card-header>
    <ion-card-content>
      
<p class="source">Source name : {{results.fields.source[0].name}}</p>
<p class="source">Country name : {{results.fields.country[0].name}}</p>
<p class="source">City name : {{results.fields.city[0].name}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
