.job-details {

	.slide-zoom{
		width :100%;
		height:100%;
	}

	.swiper-pagination{
		display:none;
	}

	.description {
		text-align: left;
		font-size: 14px;
	}
	.swiper-button-prev {
		font-size: 5px;
		height: 30px;
		background-image: url("/images/icon-ios7-arrow-back.png");
	}
	.swiper-button-next {
		 font-size: 5px;
		 height: 30px;
		 background-image: url("/images/icon-ios7-arrow-next.png");
	}

	.button {
		font-family: 'SourceSansPro-Bold';
	    position: fixed;
	    bottom: 5px;
	    margin: 0;
    	margin-left: 1%;
	    height: 7%;
	    max-height: 45px;
	    z-index: 10;
	    width: 98%;
	    border-radius: 50px;
	    background-color: color($colors, dark-lighter);
	}

}
