page-explore {
    .button-ios { 
        height: 100%;
    }
    
    .button-md { 
        height: 100%;
    }
}

.tabs-top > .tabs, .tabs.tabs-top { top: auto; }
.has-tabs-top { top: 44px; }
.bar { height: 54px; }
.has-header { top: 54px; }
.bar .title, .platform-android .bar .title { height: 53px; line-height: 54px; text-align: center; }
.bar.bar-stable, .bar-header { background: #1773ba; border-bottom: 1px solid #0f8dc1; }
.bar.bar-stable .title, .bar.bar-header h1.title { font-family: 'Open Sans', sans-serif; color: #fff; font-size: 20px; font-weight: 700; }
.bar.bar-header h1.title { left: 30px; right: 30px; font-family: 'Open Sans', sans-serif; color: #fff; font-size: 20px; font-weight: 300 }
