
<ion-header>
    <ion-navbar color="dark">
      <ion-buttons end>
        <button ion-button icon-only (click)='goToSearch()'>
  <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title align="center">EXPLORE</ion-title>
      
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-grid style="height: 100%"> 
    <ion-row style="height: 33%">
      <ion-col col-6>
          <button ion-button full  (click)="goToSearch('format')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Format
          </button>
       
      </ion-col>
      <ion-col col-6>

          <button ion-button full (click)="goToSearch('cost')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Cost
          </button>
       
      </ion-col>
    </ion-row>
    <ion-row style="height: 33%">
      <ion-col col-6>

          <button ion-button full (click)="goToSearch('country')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Country
          </button>
       
      </ion-col>
      <ion-col col-6>
       
          <button ion-button full (click)="goToSearch('source')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Organization
          </button>

      </ion-col>
    </ion-row>
    <ion-row style="height: 33%">
      <ion-col col-6>
        
          <button ion-button full (click)="goToSearch('language')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Course/Event Language
          </button>
        
      </ion-col>
      <ion-col col-6>
       
          <button ion-button full (click)="goToSearch('date.start')">
            <!-- <ion-icon name="contact"></ion-icon> -->
            Starting Date
          </button>
        
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
